@keyframes startScreenAppear {
  from {
    visibility: inherit;
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

.friends-display-link {
  display: block;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  opacity: 0.8;
  background-color: #fafafa;
  margin-bottom: 10px;
}

.friends-display-link i {
  opacity: 0.4;
}

.friends-channel {
  margin-top: 25px;
  padding-top: 15px;
  border-top: var(--main-border);
}

.friends-channel__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
}

.friends-channel__list {
  padding-top: 25px;
}

.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  animation: startScreenAppear 2s cubic-bezier(1, 0.33, 0.71, 0.77) forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
}
