.badge {
  border-radius: 50%;
  background-color: #ff6229;
  width: 30px;
  height: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.min-badge {
  border-radius: 50%;
  background-color: #ff6229;
  width: 5px;
  height: 5px;
  position: absolute;
}
